html, body {
  background-color: #2a2a72;
  background-image: linear-gradient(270deg, #2a2a72 0%, #009ffd 74%);
}


html, body, #wrapper {
  /* width: 100%;
  min-height: 100%;
  text-align: center;
  -webkit-column-width: 150px;
  column-width: 150px;
  height: 100%; */
  overflow: hidden;
}

.boton{
  display: table;
  height: 100%;
  width: 100%;
}

#miBoton {
  background-color: #33acff;
  border: none;
  border-radius: 8px;
  color: white;
  font-size: 16px;
  transition: 0.5s;
  padding: 15px;
  position: absolute;
  width: 200px;
  height: 50px;
  left:0;
  right:0;
  top:0;
  bottom:0;
  margin: auto;
}

#miBoton.activo {
  background-color: #2c92d7;
}

h1 {
  color: navy;
  font-size: 3em;
  font-family: 'Montserrat', sans-serif;
  text-align: center;
}
